* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.statistics-class{
  margin: 10px auto!important;
}
.card-1{
  background-color: #C96868;
}
.container {

  margin: 10px auto;
  padding: 20px;
}

.form-control {
  margin-bottom: 20px;
  width: 100%;
}

.dropdown {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: border 0.3s ease;
}

.dropdown:focus {
  border: 1px solid #007bff;
  outline: none;
}

.table-container {
  margin-bottom: 30px;
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table-container th,
.table-container td {
  padding: 10px 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.table-container th {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.table-container tr:hover {
  background-color: #f1f1f1;
}

.search-input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 16px;
}

.pagination-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.pagination-buttons button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.pagination-buttons button:hover {
  background-color: #0056b3;
}

.stats-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.stat-card {
  flex: 1;
  background-color: #007bff;
  color: white;
  padding: 20px;
  margin: 0 10px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.stat-card p {
  font-size: 18px;
  margin: 0;
}

.chart-container {
  margin-bottom: 40px;
}

.chart-title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

canvas {
  max-width: 100%;
  height: auto;
}

#month-select{
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .stat-card {
    margin: 10px 0;
  }

  .stats-box {
    flex-direction: column;
  }

  .pagination-buttons {
    justify-content: center;
  }
}
